<?xml version="1.0" encoding="utf-8"?>
<!--
 Based on the Navigaton Drawer sample
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.snapfood.snapapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- Confirm IO requires some permissions -->
    <!-- Permission to vibrate - recommended, allows vibration feedback on scan -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- Permission to use camera - required -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <!-- Permission to access a network - required -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Permission to access a storage write - required -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.snapfood.snapapp.OnboardActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.snapfood.snapapp.CheckIDActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.snapfood.snapapp.ShoppingActivity"
            android:label="@string/app_name" />
        <!-- Confirm SDK - required -->
        <activity
            android:name="io.confirm.confirmsdk.ConfirmCameraActivity"
            android:screenOrientation="landscape"/>
    </application>

</manifest>